<%# add navigation links to this file %>
<li><%= link_to 'Händler', vendors_path %></li>
<li><%= link_to 'Neuer Check', new_check_path %></li>
<li><%= link_to 'Checks', checks_path %></li>
<li><%= link_to 'OBCs', obcs_path %></li>
